alembic 
bidict 
blinker
certifi
cffi 
click
cryptography
dnspython
ecdsa
email-validator 
eventlet
Flask
Flask-Admin
Flask-Cors
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
gevent 
greenlet
gunicorn
idna 
itsdangerous
Jinja2
Mako
MarkupSafe
numpy 
psycopg2 
pycparser 
pycryptodome 
pyOpenSSL 
python-dateutil
python-editor
python-engineio
python-socketio
six 
SQLAlchemy 
Werkzeug
wincertstore
WTForms 
zope.event
zope.interface 
