{% extends 'template.html' %}

{% block css_links %}
<link rel="stylesheet" href="static/assets/css/team_boxed.css">
{% endblock %}
{% block body %}
<section class="team-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">TechStack </h2>
           
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img style="height:10%;" class="" src="\static\assets\img\flask.png" />
                    <h3 class="name">Flask</h3>
                    <p class="title">Expert</p>
                    <p class='lead'>Used for Backend Development along with its extensions like SocketIO, Mail, Admin, WTForms, Migrate, SQLAlchemy, Login</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="" src="\static\assets\img\python.png" />
                    <h3 class="name">Python</h3>
                    <p class="title">Intermediate</p>
                    <p class='lead'>Used for Data Science along with its packages like plotly, numpy, pandas, matplotlib etc</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="" src="\static\assets\img\selenium.png" />
                    <h3 class="name">Selenium</h3>
                    <p class="title">Intermediate</p>
                    <p class='lead'>Used along with python for automatio, data scraping and making crawlers.</p>
                </div>
            </div>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img style="" class="" src="\static\assets\img\keras.png" />
                    <h3 class="name">Keras</h3>
                    <p class="title">Intermediate</p>
                    <p class='lead'>Used for developing ML/AI models. Tensorflow based package hence equivalent experience in tensorflow also.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="" src="\static\assets\img\tableau.png" />
                    <h3 class="name">Tableau</h3>
                    <p class="title">Beginner</p>
                    <p class='lead'>Used for data visualization and analysis. Dashboards published on tableau public account</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="" src="\static\assets\img\c++.png" />
                    <h3 class="name">C++</h3>
                    <p class="title">Intermediate</p>
                    <p class='lead'>Experience with classes and major OOPS topics. Since C++ is an improvement on C same proficiency in C</p>
                </div>
            </div>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img style="" class="" src="\static\assets\img\r.png" />
                    <h3 class="name">R</h3>
                    <p class="title">Beginner</p>
                    <p class='lead'>Basic data manipulationa and visualization using dpylr and ggplot2</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="" src="\static\assets\img\frontend.jpg" />
                    <h3 class="name">Frontend Stack</h3>
                    <p class="title">Intermediate</p>
                    <p class='lead'>Used for frontend development mainly using bootstrap studio</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="" src="\static\assets\img\databases.jpg" />
                    <h3 class="name">Databases</h3>
                    <p class="title">Intermediate</p>
                    <p class='lead'>Beginner experience with NoSQL databases and Intermediate Experience with SQL Databases</p>
                </div>
            </div>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img style="" class="" src="\static\assets\img\heroku.png" />
                    <h3 class="name">Heroku</h3>
                    <p class="title">Advanced</p>
                    <p class='lead'>Flask application deployment with multiple workers. Experience with CI/CD pipelines within heroku. Production Databases like Heroku-Postgres</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="" src="\static\assets\img\pyany.png" />
                    <h3 class="name">PythonAnywhere</h3>
                    <p class="title">Intermediate</p>
                    <p class='lead'>Basic Flask Application setup and MySQL databases using pymysql package</p>
                </div>
            </div>
            
        </div>
    </div>
    
</section>
{% endblock %}